@* ExcelApp/Views/Home/ExcelMerge.cshtml *@
@using Microsoft.AspNetCore.Http
@model ExcelApp.Models.ExcelDataModel

@{
    ViewData["Title"] = "Excel Merge";
}

<h1>Excel Merger</h1>


<form asp-action="ExcelMerge" method="post" enctype="multipart/form-data">
    <label for="MainFile">Select main file:</label>
    <input type="file" id="MainFile" name="MainFile"><br><br>

    <label for="SecondFile">Select second file:</label>
    <input type="file" id="SecondFile" name="SecondFile"><br><br>

    <label asp-for="PrimaryKey1">Primary Key 1:</label>
    <input asp-for="PrimaryKey1" type="text" id="PK1"></input>

    <label asp-for="PrimaryKey2">Primary Key 2:</label>
    <input asp-for="PrimaryKey2" type="text" id="PK2"></input>

    <label asp-for="SelectedColumns">Selected Column:</label>
    <input asp-for="SelectedColumns" type="text" id="SelectedColumn"></input>

<input type="submit" value="Sync" id="syncButton">
</form>

<button id="downloadButton" type="button">Download</button>

<!-- Display merged data in a table -->
@if (Model.MergedData != null && Model.MergedData.Columns != null && Model.MergedData.Rows != null)
{
    <table>
        <thead>
            <tr>
                @foreach (System.Data.DataColumn column in Model.MergedData.Columns)
                {
                    <th>@column.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.MergedData.Rows)
            {
                <tr>
                    @foreach (var cell in row.ItemArray)
                    {
                        <td>@cell.ToString()</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}


@section scripts{
    <script>
        var downloadButton = document.getElementById("downloadButton");
        //var syncButton = document.getElementById("syncButton");

        function enableDownloadButton() {
            downloadButton.disabled = false;
        }

        syncButton.addEventListener("click", function () {
            downloadButton.disabled = true;
        });

        downloadButton.addEventListener("click", function () {
            window.location.href = '@Url.Action("DownloadMergedFile", "Home")';
        });
    </script>
}





